docs/gemini-file-search/ConsoleTestGeminiRag.json
{
  "name": "ConsoleTestGeminiRag",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -144
      ],
      "id": "8d5a2622-ad0a-49a2-9b20-5cf9908a0f65",
      "name": "When chat message received",
      "webhookId": "699767f1-3a6e-4ffa-93ed-327f20cd6d65"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -208
      ],
      "id": "d93ff63c-5611-4fea-a033-d6811ed074d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        16
      ],
      "id": "10a6bdd2-d7e1-40be-aef1-a608cf7b697c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pjvFZYwfl4qpYDxb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use esta função para obter os dados dos imóveis disponíveis no banco de dados da imobiliária de acordo com a solicitação do cliente",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=--SUA-KEY-AQUI--"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n         \"text\": \"qual a tipologia do ametista ?\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"fileSearchStores/ragimoveis-j6fbpefb2twj\"\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        192,
        80
      ],
      "id": "122f4717-afb2-4fbd-9f91-c184fbc238d6",
      "name": "get_imoveis_data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f3e780a-933f-42b4-b4e7-b04c413817a8",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "7a268740-8c4d-4eb9-b65e-bdc03fe8d68c",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "1c431309-400d-4310-bb0a-93dd38012839",
              "name": "GEMINI_API_KEY",
              "value": "AIzaSyCTCrhDDFcRc2717rfUVIHiXfKJbodUZ80",
              "type": "string"
            },
            {
              "id": "5ee7a2f6-13e6-4dc8-a841-87cae6c8fce9",
              "name": "STORE_NAME",
              "value": "fileSearchStores/ragimoveis-j6fbpefb2twj",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -144
      ],
      "id": "52e7d68e-6e2e-4976-9eca-798ae83e1a89",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "--SUA-KEY-AQUI--"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"quais os destaques do Topázio\"\n        }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"fileSearchStores/ragimoveis-j6fbpefb2twj\"\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        32
      ],
      "id": "c71ecfc5-b5b0-4f97-b213-92ef313cbbcc",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        16,
        32
      ],
      "id": "53f625ed-2a36-4e25-8241-21fdde369028",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "nykWCN1X7vu4SQ2N",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_imoveis_data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a980c2bf-38ec-4ee9-b117-4496762150b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59bfd9b2878ae97fc4f65e50592e74846e660bb5668c77f819b05b989e354c62"
  },
  "id": "i23GEXZo9cNW5JDx",
  "tags": []
}