docs/gemini-file-search/ToolsGeminiAPI.json
{
  "name": "ToolsGeminiAPI",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3691477-c609-4e8d-8352-8694de47d076",
              "name": "GEMINI_API_KEY",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            },
            {
              "id": "5a49551f-6149-463f-a6e0-157812975aea",
              "name": "function",
              "value": "list_files",
              "type": "string"
            },
            {
              "id": "613c79dc-ec32-4d71-83db-712f73335793",
              "name": "fileSearchStores",
              "value": "ragimoveis-j6fbpefb2twj",
              "type": "string"
            },
            {
              "id": "1ce44fb7-60ab-422d-bdb3-d5a873b98b8a",
              "name": "ducument",
              "value": "",
              "type": "string"
            },
            {
              "id": "fe2e0472-76da-4bc2-bc9e-714c3835aa57",
              "name": "file",
              "value": "",
              "type": "string"
            },
            {
              "id": "227592d1-8169-4aae-bf7b-1d563e90a8a4",
              "name": "displayName_fileSearchStores",
              "value": "rag_imoveis",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        96
      ],
      "id": "c067d1bc-8b83-4e03-b34c-7e0694238e01",
      "name": "Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "displayName",
              "value": "={{ $json.displayName_fileSearchStores }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        -176
      ],
      "id": "5a4468dc-a62d-4a91-a0fd-c2b845b38e9f",
      "name": "CreateRagFileSearch"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores/{{ $json.fileSearchStores}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        16
      ],
      "id": "f435062f-ee26-4d1d-a1a8-65dc8c3dca5c",
      "name": "DeleteFileSearch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "681bf5b9-66c6-40b0-88e3-a40f470ead7a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f586448c-7174-45d3-8789-c58d607a22b7",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e02c314-3adf-487c-976e-b2cad33876c9",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "delete_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e21ea944-7e2b-4ac9-8bdc-ce428448dcfb",
                    "leftValue": "={{ $json.function }}",
                    "rightValue": "delete_document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -928,
        64
      ],
      "id": "0b656d6c-9ed9-4cdc-ab59-f0254b5cd72a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3691477-c609-4e8d-8352-8694de47d076",
              "name": "GEMINI_API_KEY",
              "value": "--SUA-KEY-AQUI--",
              "type": "string"
            },
            {
              "id": "4dff4bd2-7793-4bb8-9fc2-9c9bed007859",
              "name": "fileName",
              "value": "={{ $json.file.first().filename.replaceAll(' ','-').toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "8bdbeb9e-9822-4c94-958c-90ea99e4d47c",
              "name": "fileSearchStoreId",
              "value": "ragimoveis-j6fbpefb2twj",
              "type": "string"
            },
            {
              "id": "49d29242-73fd-42c9-a3cf-e0cfc0ee39a4",
              "name": "file",
              "value": "=file",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        576
      ],
      "id": "e37c1c59-ae58-403a-b674-6bda1a66decb",
      "name": "Config1"
    },
    {
      "parameters": {
        "formTitle": "Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "acceptFileTypes": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1856,
        576
      ],
      "id": "fbfea8ec-a300-4ea2-b722-72069fb7f06c",
      "name": "SendForm",
      "webhookId": "eb800b64-7048-4016-84ba-ff388a0e754a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores/{{ $('Config1').item.json.fileSearchStoreId }}:importFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Config1').item.json.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"files/{{ $('UploadToGemini').item.json.fileUri.split('/').pop() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        576
      ],
      "id": "fb6c88da-b83f-40a3-a09e-f1ba7d2d3857",
      "name": "ImportToFileSearchStores"
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary",
        "binaryPropertyName": "file"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        576
      ],
      "id": "c428c8b4-b573-49be-8c91-a190c768c91a",
      "name": "UploadToGemini",
      "credentials": {
        "googlePalmApi": {
          "id": "jsLtTyClNJO0adme",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores/{{ $json.fileSearchStores}}/documents/{{ $json.ducument }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        400
      ],
      "id": "465c9fb2-9530-4be7-83f0-5d3c894a1872",
      "name": "DeleteDocument1"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/fileSearchStores/{{ $json.fileSearchStores }}/documents",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        176
      ],
      "id": "5c2ec5a6-2233-4fc6-a2e3-d34bcf17364d",
      "name": "ListAllDocumets"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1264,
        384
      ],
      "id": "6caf4a41-0885-40a9-86e3-2a0069c60b37",
      "name": "ListAllFiles"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/files/{{ $json.file }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        208
      ],
      "id": "264649c1-9a97-46f3-b3f7-3e720e3c37af",
      "name": "DeleteFile"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $json.GEMINI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -80
      ],
      "id": "84adbb93-f35b-4677-a08c-360e7c1f7a5b",
      "name": "ListAllFileSearchStores"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        96
      ],
      "id": "5409f648-6d7a-40fb-8203-ec42f9e77b98",
      "name": "RunTools"
    }
  ],
  "pinData": {},
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "ListAllDocumets",
            "type": "main",
            "index": 0
          },
          {
            "node": "ListAllFileSearchStores",
            "type": "main",
            "index": 0
          },
          {
            "node": "ListAllFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateRagFileSearch": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CreateRagFileSearch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeleteFileSearch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeleteFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeleteDocument1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "UploadToGemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendForm": {
      "main": [
        [
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadToGemini": {
      "main": [
        [
          {
            "node": "ImportToFileSearchStores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListAllDocumets": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListAllFiles": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListAllFileSearchStores": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RunTools": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3db385aa-9604-47f4-8b9e-8d93ebe48802",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59bfd9b2878ae97fc4f65e50592e74846e660bb5668c77f819b05b989e354c62"
  },
  "id": "9WdX5M4ZSt5hTT3G",
  "tags": []
}